@font-face {
  font-family: "Arcade";
  src: url("../public/arcade.woff2") format("woff2");
}

body {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  color:hsl(0, 0%, 85%);
  font-family: "Arcade";
}

.App {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(0, 0%, 25%);
  border: 0.15rem solid hsl(241, 99%, 49%);
  padding: 1rem;
}

.change-country-order-button,
.change-scores-order-button {
  padding: 1rem;
  border: 0.15rem solid red;
  font-family: 'Arcade';
  font-size: 1rem;
}

header {
  text-align: center;
}

.country-scores-container {
  padding: 1rem;
  border: 0.5rem solid hsl(79, 96%, 64%);
}

.country-scores-title {
  color: hsl(208, 85%, 79%);
}

.country-scores-row {
  display: flex;
  justify-content: space-between;
}

.country-scores-name {

}

.country-scores-number {
  color: hsl(7, 55%, 37%);
}